services:
  web:
    build: .
    ports:
    - "5000:5000"
    environment:
        DB_HOST: db 
        DB_USER: root
        DB_PASSWORD: root
        DB_NAME: testdb
    depends_on:
    - db
  db:
    image: mysql:8.0
    environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: testdb
    ports:
        - "3306:3306"
        
